{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    <img src="{% static 'html5.jpg' width="500px" height="500px" %}">
    <h1 style="color:#37119e;">What is HTML?</h1>
    <hr>
    <body bgcolor="#fce6c7"></body>
    <p style="font-size: x-large;"><b>HTML is a computer language devised to allow website creation.</b>This websites can then viwed by anyone else connected to the internet.</p><br><br>
    <p></p>
    <p style="font-size: larger;"><i>Published By</i></p>
    <p style="color:red; font-size:large;"><b><i>-baaptra.com</i></b></p>
</body>
</html>