{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML ASS7</title>
    
</head>
<body>
    
   <a href="https://www.google.co.in/webhp?hl=en&sa=X&ved=0ahUKEwj42q3Ax4PgAhUHLo8KHUY8ABcQPAgH"> <img src="{% static 'google.png' width="250" height="100" %}"><br></a>
   <a href="https://www.facebook.com"><img src="{% static 'fb.jpg' width="250" height="100" %}"><br></a>
   <a href="https://twitter.com/login?lang=en"><img src="{% static 'twitter.jpg' width="250" height="100" %}"><br></a>
   <a href="https://www.microsoft.com/en-in"><img src="{% static 'microsoft.png' width="250" height="100" %}"><br></a>
    
    
</body>
</html>