<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <a href="#1"><B>COMPUTERS</B></a>
    <p></p>
    <ul>
        <li>Laptop</li>
        <li>Desktops</li>
    </ul>
    <a href="#2"><b>Programming languages</b></a>
    <ul>
        <li>php</li>
        <li>python</li>

    </ul>
    <a href="#3"><b>Gaming consoles</b></a>
    <ul>
        <li>ps4</li>
        <li>xbox</li>
    </ul>
    
    <h2><a id="1"><u>COMPUTERS</a></u></h2>
    <a href="#top">Back to Top</a>
    <P>A computer is a machine that can be instructed to carry out sequences of arithmetic or logical operations automatically via computer programming. Modern computers have the ability to follow generalized sets of operations, called programs. These programs enable computers to perform an extremely wide range of tasks.</P><BR>
    <h3><u>Laptop</u></h3>
    <p>A laptop computer is a portable personal computer powered by a battery, or an AC cord plugged into an electrical outlet, which is also used to charge the battery. ... A laptop also has a thin display screen that is attached and can be folded flat for transport.</p><br><br>
    <h3><u>Desktop</u></h3>
    
    <p>A desktop computer is a personal computer designed for regular use at a single location on or near a desk or table due to its size and power requirements. The most common configuration has a case that houses the power supply, motherboard (a printed circuit board with a microprocessor as the central processing unit (CPU), memory, bus, and other electronic components), disk storage (usually one or more hard disk drives, solid state drives, optical disc drives, and in early models a floppy disk drive); a keyboard and mouse for input; and a computer monitor, speakers, and, often, a printer for output. The case may be oriented horizontally or vertically and placed either underneath, beside, or on top of a desk.</p><br><br>
    <h2><a id="2"><u>Programming languages</a></u></h2><br>
    <a href="#top">Back to Top</a>
    <P>A programming language is a formal language, which comprises a set of instructions that produce various kinds of output. Programming languages are used in computer programming to implement algorithms.

        Most programming languages consist of instructions for computers. There are programmable machines that use a set of specific instructions, rather than general programming languages.</P><br><br>
    <h3><u>Php</u></h3>
    <p>PHP is a server side scripting language. that is used to develop Static websites or Dynamic websites or Web applications. PHP stands for Hypertext Pre-processor, that earlier stood for Personal Home Pages.PHP scripts can only be interpreted on a server that has PHP installed.The client computers accessing the PHP scripts require a web browser only.<br>A PHP file contains PHP tags and ends with the extension ".php".</p><br><br>
    <h3><u>Python</u></h3>
    <p>Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace. ... Python is dynamically typed and garbage-collected.</p><br><br>  
    <h2><a id="3"><u>Gaming consoles</a></u></h2>
    <a href="#top">Back to Top</a>
    <p>A video game console is a computer device that outputs a video signal or visual image to display a video game that one or more people can play.

        The term "video game console" is primarily used to distinguish a console machine primarily designed for consumers to use for playing video games, in contrast to arcade machines or home computers. An arcade machine consists of a video game computer, display, game controller (joystick, buttons, etc.) and speakers housed in large or small chassis. </p><br>
    <h3><u>ps4</u></h3>
    <p>The PlayStation 4 (officially abbreviated as PS4) is an eighth-generation home video game console developed by Sony Interactive Entertainment. ... The console also supports HDR10 High-dynamic-range video and playback of 4K resolution multimedia.</p><br><br>
    <h3><u>Xbox</u></h3>
    <p>Xbox is a gaming console brand developed and owned by Microsoft. The game console is capable of connecting to a television or other display media. Xbox provides realistic graphics for games.</p>  
</body>
</html>